@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.topcontent{
    color: white;
    
}

.topcontent__container{
    position: relative;
    top: 300px;
    left: 800px;

}

.topcontent__container > p{
    letter-spacing: 1px;
    text-align: left;
    padding-left: 3px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.topcontent__container > p > button{
    margin-top: 30px;
    text-align: left;
    margin-left: 5px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.topcontent__container > h1{
    font-size: 50px;
    font-family: "Montserrat" sans-serif;
}

.topcontent__downloadButton{
    color: white;
    background-color: #f64c08;
    font-size: 14px;
    padding: 10px 30px;
    font-family:"Montserrat" sans-serif;
    font-weight: 300;
    cursor: pointer;
    margin-right: 20px;

}

.topcontent__downloadButton:hover{
    color: #f64c08;
    background-color: white;
    font-weight: 800;
}

.topcontent__workButton{
    color: white;
    border: 1px solid white !important;
    background-color:transparent;
    font-size: 14px;
    padding: 9px 45px;
    font-family:"Montserrat" sans-serif;
    font-weight: 300;
    cursor: pointer;
    
}

.topcontent__workButton:hover{
    color: black;
    background-color: white;
    font-weight: 800;
}

