@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.projectContainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}

.projectContainer > h1 {
    padding-bottom: 15px;
}

.projectContainer > p {
    padding-bottom: 20px;
}

.projectContainer__projects {
    display: flex;
    width: 60vw;
    margin-top: 50px;
    flex-wrap: wrap;
}

